<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.smhrd.model.TB_ReservationDAO">
	
  
  	<!-- 예약하기 reservation -->
	<insert id="join" parameterType="TB_ReservationDTO">
		INSERT INTO TB_RESERVATION(mb_card, rs_machine, use_time, reg_time)
		VALUES (#{mb_card},#{rs_machine},#{use_time},SYSDATE)
  	</insert>
  
  
  </mapper>