<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.model.TB_UserExerciseDAO">

	<select id="select" parameterType="TB_UserExercise_select_DTO"
		resultType="TB_UserExercise_select_DTO">

		<!-- 사용시간, 날짜(접수시간) 찾습니다. 왜? 안드로이드 그래프 출력때문엥
				아래 쿼리문은 년, 월, 일 까지만 출력되는 쿼리문임!!	 -->
		SELECT TO_CHAR(REG_DATE, 'YY/MM/DD') AS REG_DATE_FORMATTED, SUM(RS_USETIME) AS TOTAL_USETIME
		FROM TB_USER_EXERCISE
		WHERE MB_CARD = #{mb_card} 
	    AND REG_DATE BETWEEN TO_DATE(SYSDATE-6, 'YY/MM/DD') AND TO_DATE(SYSDATE+1, 'YY/MM/DD')
        GROUP BY TO_CHAR(REG_DATE, 'YY/MM/DD')
        ORDER BY TO_CHAR(REG_DATE, 'YY/MM/DD')
		
		<!-- 
		SELECT REG_DATE, SUM(RS_USETIME) AS TOTAL_USETIME
		FROM TB_USER_EXERCISE
		GROUP BY REG_DATE;
		
		 -->

        
	</select>
		
		<select id="select1" parameterType="TB_UserExercise_select1_DTO"
		resultType="TB_UserExercise_select1_DTO">

		<!--  일주일간 기구사용 횟수 넘겨주는 쿼리문 -->
		SELECT REV_MACHINE, COUNT(REV_MACHINE) AS MACHINE_COUNT
		FROM TB_USER_EXERCISE
		WHERE MB_CARD = #{mb_card}
		AND TO_DATE(REG_DATE,'YYYY-MM-DD') 
		BETWEEN TO_DATE(SYSDATE - 6,'YYYY-MM-DD')
		AND TO_DATE(SYSDATE + 1,'YYYY-MM-DD')
		GROUP BY REV_MACHINE




		<!-- 사용기구명의 횟수를 넘겨줍니다. MACHINE_COUNT라는 이름으로 횟수 표시됨!!
		SELECT REV_MACHINE, COUNT(*) AS MACHINE_COUNT
        FROM TB_USER_EXERCISE
        WHERE MB_CARD = #{mb_card}
        GROUP BY REV_MACHINE
         -->
<!--
일주일 기구명  날짜로 묶어서 그래프 기구명 횟수 일주일치
ex) 13일 벤치프레스 카운트 
-->     
	</select>
	
	
	
	
	
	




</mapper>