<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.model.TB_UserExerciseDAO">

	<!-- 일주일간 운동 시간 확인 -->
	<select id="select" parameterType="TB_UserExercise_select_DTO"
		resultType="TB_UserExercise_select_DTO">

		<!-- 사용시간, 날짜(접수시간) 찾습니다. 왜? 안드로이드 그래프 출력때문에
				아래 쿼리문은 년, 월, 일 까지만 출력되는 쿼리문임!!	 -->
		SELECT TO_CHAR(REG_DATE, 'YY/MM/DD') AS REG_DATE_FORMATTED, SUM(RS_USETIME) AS TOTAL_USETIME
		FROM TB_USER_EXERCISE
		WHERE MB_CARD = #{mb_card} 
	    AND REG_DATE BETWEEN TO_DATE(SYSDATE-6, 'YY/MM/DD') AND TO_DATE(SYSDATE+1, 'YY/MM/DD')
        GROUP BY TO_CHAR(REG_DATE, 'YY/MM/DD')
        ORDER BY TO_CHAR(REG_DATE, 'YY/MM/DD')
	</select>
	
	<!--  일주일간 운동기구 사용횟수 확인 -->
	<select id="select1" parameterType="TB_UserExercise_select1_DTO"
	resultType="TB_UserExercise_select1_DTO">
		SELECT REV_MACHINE, COUNT(REV_MACHINE) AS MACHINE_COUNT
		FROM TB_USER_EXERCISE
		WHERE MB_CARD = #{mb_card}
		AND TO_DATE(REG_DATE,'YYYY-MM-DD') 
		BETWEEN TO_DATE(SYSDATE - 6,'YYYY-MM-DD')
		AND TO_DATE(SYSDATE + 1,'YYYY-MM-DD')
		GROUP BY REV_MACHINE
	</select>
	
	<!-- 일주일간 운동기구 사용정보 확인(관리자) -->
	<select id="selectAll" parameterType="String" resultType="AdminEexerciseDTO">
		SELECT REV_MACHINE, count(REV_MACHINE) as cnt
		FROM TB_USER_EXERCISE
		WHERE GYMNAME = #{gym_name}
		AND TO_DATE(REG_DATE, 'YYYY-MM-DD') 
    		BETWEEN TO_DATE(SYSDATE - 6, 'YYYY-MM-DD')
    		AND TO_DATE(SYSDATE + 1, 'YYYY-MM-DD')
		GROUP BY REV_MACHINE
	</select>
	
	<!-- 아두이노에서 보낸 운동정보 저장 -->
	<select id="insert" parameterType="TB_UserExerciseDTO">
		INSERT INTO TB_USER_EXERCISE(MB_CARD, RS_USETIME, REV_MACHINE, REG_DATE, GYMNAME)
		VALUES (#{mb_card},#{rs_usetime},#{rev_machine},SYSDATE,#{gymname})
	</select>
	
</mapper>